<div class="mt-2 mb-1">
  <% sms_configured = EncryptedConfig.exists?(account: current_account, key: EncryptedConfig::SMS_CONFIGS_KEY) %>
  <% if sms_configured %>
    <%= button_to submitter.sent_at? ? t('re_send_sms') : t('send_sms'),
          submitter_path(submitter),
          method: :patch,
          params: { submitter: { phone: submitter.phone }, send_sms: '1' },
          class: 'btn btn-sm btn-primary w-full' %>
  <% else %>
    <div class="tooltip w-full" data-tip="<%= t('configure_sms') %>">
      <%= link_to t('send_sms'), settings_sms_index_path,
            class: 'btn btn-sm btn-ghost w-full' %>
    </div>
  <% end %>
</div>
